.card img {
    width: 160px;
    height: 195px;
    }

    .nevbar a {
        font-size: 0.8rem;
        padding: 2px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .contact_form{
        width: 350px;
    }
  